/*Limpiado*/
*{
    padding: 0px;
    margin:0px;
    vertical-align: baseline;
    
}
*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    --color-principal:#ffffff;
    --color-secundario:#04b4e0;
    --color-fondo:#f2f7f9;
    --color-transparente:transparent;
    --color-iconos:#b5b6b7;
    --color-texto:#555;



}
html{
    font-size: 10px;
}
body{
    
    width: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-size: 1.5rem;
    font-family: "poppins",Arial, Helvetica, sans-serif;
    background-color: var(--color-fondo);
    color:var(--color-texto);
    background-image: url(/assets/img/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -58px -58px;
    overflow: hidden;
}

ul,ol{
    list-style: none;
}
a{
    display: block;
    text-decoration: none;
    color:var(--color-principal);
}
h1,h2,h3,h4,h5{
    color: #222;
}
.layout{
    position: relative;
    min-width: 1200px;
    width: 70%;
    height: 80vh;
    min-height: 80vh;
    margin:10vh auto;
    display: grid;
    grid-template-areas: 
    "aside conter";
    grid-template-columns: 30% 70%;
    border-radius: 4rem;
    box-shadow: 0 0 100px -5px rgba(0,0,0,0.25);

}
.layout__aside{
    grid-area: "aside";
    border-radius: 4rem 0 0 4rem;
    overflow: auto;
    overflow-y: hidden;
}
.aside__usuario{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100%;
    min-width: 30rem;
    background-color: var(--color-secundario);
    color: var(--color-principal);
}
.usuario__divimagen{
    position: relative;
    display: inline-block;
    width: 18rem;
    margin-top: 5rem;
    z-index: 1;
   
    

}

.usuario__divimagen img{
    background-color: var(--color-principal);
    border:3px solid var(--color-principal);
    border-radius: 20rem;
    width: 95%;
    height: 18rem;
}
.usuario__divimagen::after{
    content: "";
    position: absolute;
    z-index: -1;
    top:30px;
    left: 40px;
    width: 80%;
    height: 80%;
    background-image: -webkit-repeating-radial-gradient(center center ,#fff,#fff 1px,transparent 0px,transparent 100%);
    background-size: 0.3rem 0.3rem;
    border-radius: 10rem;
    opacity: 0.5;

}
.usuario__name{
    margin-top: 1.5rem;
    color:var(--color-principal);
    font-size: 3.2rem;
    font-weight: bold;
    text-align: center;
   

}
.usuario__jobs{
    font-size: 1.6rem;
    font-weight: 200;
    color: var(--color-principal);

}
.usuario__redes{
    margin-bottom: 3.6rem;
    text-align: center;
    margin: 2rem;
   
}
.redes__sociales{
    display: flex;
    flex-direction: row;
}
.sociales__icon{
    width: 3rem;
    height: 3rem;
    
    font-size: 1.8rem;
    line-height: 3.2rem;
    opacity: 0.9;
    border-radius: 3rem;
    transition: all 300ms linear;
}
.sociales__icon:hover{
    opacity: 1;
    background-color: rgba(243, 234, 234, 0.527);
}
.usuario__boton{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
   
}
.boton__btn{
    border: 2px solid var(--color-principal);
    padding: 3rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    border-radius: 3.2rem;
    box-shadow: 0 10px 10px -8px rgba(0, 0,0, 0.22);
    transition: all 300ms ease-in-out;
}
.boton__btn:hover{
    background-color: var(--color-principal);
    color: var(--color-secundario);
    opacity: 0.7;
}
.usuario__footer{
    position: absolute;
    bottom: 1rem;
    font-size: 1.2rem;
}
.layout__menu{
   display: block;
   position: absolute;
   top: 0;
   right: -609px;
    min-width: 50%;
   background-color: var(--color-transparente);
   
}
.menu__lista{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-principal);
   padding: 2rem 0;
    min-height: 32rem;
    border-radius: 6rem;
    width: 7%;
    box-shadow: 0 0 3rem rgba(0, 0,0, 0.15);
}
.menu__icon{
    color: gray;
    font-size: 2.8rem;
    transition: all 500ms ease-in-out;
}
.menu__opcion{
    display: block;
    width: 100%;
    text-align: center;
}
.menu__opcion:hover .menu__icon{
    color: var(--color-secundario);
}
.layout__container{
    grid-area: "conter";
    height: 100%;
    min-height: 100%;
    background-color: var(--color-secundario);
    border-radius: 0 10rem 10rem 0;
}
.container__pagina{
    min-height: 100%;
    background-color: var(--color-principal);
    border-radius: 3.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.pagina__name{
    font-size: 6rem;
    margin-bottom: 1rem;
}
.pagina__jobs{
    font-size: 2.1rem;
    font-weight: lighter;
    color: var(--color-texto);
}
.menu__overlay{
    display: block;
    position: absolute;
    right: 0;
    opacity: 0;
    margin-top: -3rem;
    color:var(--color-principal);
    padding: 0.5rem 1rem;
    background-color: var(--color-secundario);
    white-space:nowrap;
    transition: all 500ms ease-in-out;

}
.menu__opcion:hover .menu__overlay{
    opacity: 1;
    right:100%;
}
.container__yo{
    height: 100%;
    min-height: 100%;
    padding: 6rem;
    overflow: auto;
    padding-right: 3rem;
    display: block;
}
.yo__informacion{
    display: flex;
    flex-direction: row;
    
}
.informacion__datos{
    margin-left: 1rem;
   
   
}
.titulo__color{
    color: var(--color-secundario);
    font-size: 3rem;
    font-weight: 600;
}
.info__title{
    font-style:italic;
    font-weight: bold;
    letter-spacing: 2px;
   
    
}
.informacion__bio p{
    text-align: justify;
}
.datos__info{
    margin: 1rem;
}
.servicios__contenido1{
    width: 100%;
    display: flex;
    
    margin: 0px auto;
    justify-content: space-around;
}
.icono{
   
    margin-top: 2rem;
    font-size: 6rem;
    margin: 2rem;
    color: var(--color-secundario);
    text-align: center;
    opacity: 0.5;
    transition: all 500ms all;
    text-shadow: 0px 2px 10px var(--color-iconos);
}
.icono:hover{
    opacity: 1;
    font-size: 7rem;
    
}
.contenido__descripcion{
    margin-top: 2rem;
}
.servicios__header{
    margin-top: 2rem;
}
.yo__titulo::after,.servicios__titulo::after{
    content: "";
    position: absolute;
    height: 2px;
    left: 0;
    background-color: rgb(0, 132, 255);
    right: 0;
    bottom: -0.1rem;
    width: 18%;
}
.yo__titulo,.servicios__titulo{
    position: relative;
}
.informacion__bio{
    margin-top: 10px;
}
.contenido__titulo{
    margin-top: 1rem;
}
.pagina__logos{
    font-size: 6rem;
    margin-top: -6rem;
}
.pagina__logos i{
    margin: 2rem;
}
.pagina__contenido{
    display: flex;
    flex-direction: row;
    width: 100%;
    
}
.pagina__cursos,.pagina__estudios{
    border: 2px solid rgb(73, 73, 73);
    box-shadow: 0 16px 16px 3px gray;
    border-radius: 1rem;
    flex-basis: 50%;
    height: 40rem;
    margin:10px;
    margin-top:20px;
    transition: all 300ms ease-in-out;
    padding: 1rem;
}
.pagina__cursos:hover,.pagina__estudios:hover{
    transform: translateY(-1rem);
    background-image: linear-gradient(to bottom,var(--color-iconos),var(--color-secundario));
    
}
.cursos__udemy{
    width: 60%;
    margin-left: 64px;
}
.pagina__imagenes{
    
    width: 100%;
    
    
  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    transition: all 400ms ease-in-out;
    
   
}
.imagenes__img{
    display: block;
    margin: 1rem;
    
    width: 90%;
    height: 94%;
    animation-name: imagenes;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: all 10s;
    border:10px solid black
   
}
.imagenes__titulo:hover .imagenes__img{
    transform: scale(2,2);
}
@keyframes imagenes {
0%{
    border-color: var(--color-fondo);
}
30%{
    border-color: var(--color-secundario);
}
60%{
    border-color: rgb(252, 249, 249);
}
90%{
    border-color: var(--color-secundario);
}

    
}
.udemy__linea{
    position: absolute;
    width: 31%;
    height: 2px;
    background-color:var(--color-secundario);
}
.imagenes__img--1{
    width: 89%;
    height: 93%;
}
.imagenes__figure{
    
    flex-basis: 50%;
    height: 230px;
    overflow: hidden;
   
}
.imagenes__figure:hover .imagenes__img{
    transform: scale(1.5,1.5);
}
.lista__opcion{
    
    margin: 30px;
    font-size: 3rem;
}
.link{
    
    
    opacity:0.8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:var(--color-texto);
}
.iconos{
    color: var(--color-secundario);
    font-size: 4rem;
}


